
  <link
      href="/styles/login.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

   <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <img id="xxxx" src="/images/logo.jpg" alt="Odom" />
          <a class="logoAndFont" href="/">Accounting Monthly Closing Calendar</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="/index">Register / Login</a></li>
        </ul>
      </div>
    </nav>
  
  <div class="login-page">
        <div class="form">
          <form class="register-display" class="register-form" id="register" id="signup" name="signup" method="post" action="signup">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#" id="sign-in">Sign In</a></p>
          </form>
          <form class="login-form" id="login" id="signin" name="signin"method="post" action="signin">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button id="login-button">login</button>
            
            <p class="message">Not registered?</p> 
            <br>
            <button id="register-button">Create an account</button>
      
          </form>
        </div>
  </div>

 <script src="/js/index.js"></script>

